body {
  padding: 50px;
<<<<<<< HEAD
  background-color: #3627c34d !important;
=======
  background-color: hsla(327, 100%, 50%, 0.3) !important;
>>>>>>> d7e3f4fb6c88ed28b5fea57bb470d34c0fca70fb
  font-family: sans-serif;
}
#container {
  display: flex;
  justify-content: center;
}
h1{
padding-right:100px !important;
}
