.header input {
  padding: 10px;
  font-size: 16px;
  border-radius: 2px solid #FFF;
  margin-left: 150px;
  width: 300px;
}
.header .add{
  padding: 10px;
  font-size: 16px;
  margin: 0px;
  margin-left:20px;
  background-color: #0066FF;
  color: #FFF;
  border-radius: 2px solid #0066FF;
}

/* .todoListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
} */
.theList {
  list-style: none;
  margin-left: 50px;
  width: 800px;
  height: 2000px;
  padding: 10px;
  margin-left: -80px;
  margin-top: 10px;
  border: 2px solid blue;
}

.listRow li{
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 20px;
  margin-top: 20px;
  padding-left:15px;

  border-radius: 5px;
  transition: background-color .2s ease-out;
  width: 770px;
}
.listRow li:hover {
  background-color: pink;
  cursor: pointer;
}
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.newItem{
  width: 80%;
  display: inline-block;
  border: 2px solid #74ceab;
  color: #ff0000;
  font-size: 15px;
  font-weight: bold;
  padding-left: 15px;
  background: #e2b274;
}

.doneItem{
  width: 80%;
  display: inline-block;
  border: 2px solid #a1e2c9;
  color: #afa4a4;
  font-size: 14px;
  padding-left: 15px;
  background: #f5e4ce;
  text-decoration: line-through;
}
